*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loginbody{
    background: #fff;	
    overflow: hidden;
    font-family: times new roman;	
}
.logincontainer{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
    
}
.loginwrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #808080;
}
.loginwrapper .logintitle{
    line-height: 80px;
    background: #f8f8f8;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #3e9bad;
    border-bottom: 1px solid #808080;
}
.loginwrapper form{
    padding: 30px 25px 25px 25px;
}
.loginwrapper form .lrow{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.loginwrapper form .lrow input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .lrow input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
.loginwrapper form .lrow i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: grey;
    font-size: 18px;
    background: #f8f8f8;
    border: 1px solid grey;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.loginwrapper form .sbbutton input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-size: 18px;
    padding-left: 0px;
    background: #3e9bad;
    border: 1px solid #3e9bad;
    cursor: pointer;
}
.loginwrapper form .sbbutton input:hover{
    background: #1576bf;
}
.loginwrapper form .pass{
    margin: -6px 0 15px 0;
}
.loginwrapper form .pass a{
    color: #3e9bad;
    font-size: 17px;
    text-decoration: none;
}
.loginwrapper form .pass a:hover{
    text-decoration: underline;
}